#botonAcumuladores{
    position: absolute;
    top: 0px;
    left: 0px;
}
#botonSpawners{
    position: absolute;
    top: 40px;
    left: 0px;
}
#circulo{
    width: 100px; 
    height: 100px; 
    background-color: rgb(201, 190, 129); 
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -50px;
    margin-top: -50px;
    border-radius: 50%;
}
#support{
    position: absolute;
    bottom: 0px;
    right: 0px;
}
#formas{
    position: absolute;
    top: 0px;
    left: 46.5%;
}
#titulo{
    position: absolute;
    top: 50px;
    left: 50%;
    margin-left: -50px;
    font-weight: bold;
    text-decoration: underline;
    color: rgb(189, 158, 82);
}
#cambiarColorDeFondo{
    position: absolute;
    top: 0px;
    right: 0px;
}
#precioAcumuladores{
    position: absolute;
    top: 0px;
    left: 160px;
}
#precioSpawners{
    position: absolute;
    top: 40px;
    left: 130px;
}
.contenedorProgreso1{
    position: absolute;
    top: 20px;
    left: 0px;
    width: 153.03px; 
    height: 20px;
}
.contenedorProgreso2{
    position: absolute;
    top: 60px;
    left: 0px;
    width: 124.17px; 
    height: 20px;
}
.contenedorProgreso1 .progresoAcumulador{
    position: absolute;
    height: 100%;
    background-color: green;
    animation: animacionProgreso 3s infinite;
}
.contenedorProgreso2 .progresoSpawner{
    position: absolute;
    height: 100%;
    background-color: green;
    animation: animacionProgreso 3s infinite;
}

@keyframes animacionProgreso{
    0% {width: 0%;}
    100% {width: 100%;}
}